*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#F8FAFC;
    color:#1E293B;
}

.navbar{

    position:sticky;
    top:0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 60px;

    background:white;

    box-shadow:0 2px 15px rgba(0,0,0,.08);

    z-index:1000;
}

.logo{

    font-size:28px;
    font-weight:bold;

    color:#2563EB;
}

.logo span{

    color:#FACC15;
}

nav{

    display:flex;
    gap:28px;
}

nav a{

    text-decoration:none;
    color:#1E293B;

    font-weight:600;

    transition:.3s;
}

nav a:hover{

    color:#2563EB;
}

.nav-actions{

    display:flex;
    gap:12px;
    align-items:center;
}

.language-btn{

    border:none;

    background:#FACC15;

    color:#1E293B;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;
}

.login-btn{

    text-decoration:none;

    color:#2563EB;

    border:2px solid #2563EB;

    padding:10px 20px;

    border-radius:8px;

    transition:.3s;
}

.login-btn:hover{

    background:#2563EB;

    color:white;
}

.register-btn{

    text-decoration:none;

    background:#2563EB;

    color:white;

    padding:10px 20px;

    border-radius:8px;

    transition:.3s;
}

.register-btn:hover{

    background:#1D4ED8;
}